#aboutrow1container1 {
    position: relative;
    padding: 0;
}

#learnmore {
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 15%;
}

#hi {
    padding: 5%;
}

#aboutportrait {
    margin: 50px;
    width: 50%;
}
