#aboutrow1container1 {
    position: relative;
    padding: 0;
}

#learnmore {
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 12%;
}

.aboutrow {
    padding: 3%;
}

/*#aboutportrait {
    width: 80%;
}*/

#aboutrow3 {
    height: auto;
}

div.codes {
    position: relative;
    border: 2px solid #787878;
    border-radius: 40px;
    float: left;
}


div.codes:hover {
    background-color: #787878;
    width: 88px;
    height: 88px;
    margin: 14px;
    border-radius: 44px;
    font-size: 16px;
}

div.advanced {
    width: 80px;
    height: 80px;
    margin: 18px;
}

div.proficient {
    width: 60px;
    height: 60px;
    margin: 24px;
}

p.codes {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transorm: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p.legend {
    font-size: 12px;
}

div.language {
    margin: 10px;
    padding: 10px;
    width: auto;
    font-size: 24px;
    border: 2px solid #EFEFEF;
    display: inline;
}

p.language {
    top: 50%;
    left: 50%;
    font-size: 24px;
    border: 2px solid #EFEFEF;
    -ms-transorm: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline;
}

.language:hover {
    font-size: 27px;
    margin: 8px;
}

ul.experience > li {
    font-size: 14px;
}

.experiencerow {
    padding-top: 10px;
    padding-right: 10px;
    border-bottom-style: solid;
    border-width: 1px;
}

.experiencerow:hover {
    background-color: #DDDDDD;
}

.experiencetitle {
    display: inline;
}

.experiencedate {
    float: right;
}
