.main {
    height: 100%;
}

#left {
    height: 100%;
}

#portrait {
    height: 80%;
    margin-top: 24px;
    float: right;
}

#right {
    height: 100%;
    padding: 0px 50px;
}

#title {
    margin: 24px;
}

#github_icon {
    margin-left: 10px;
}

#resume_icon {
    height: 34px;
    margin-left: 18px;
    border: 1px solid black;
}

#instagram_icon {
    height: 34px;
    margin-left: 19px;
}
