.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:18px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: black !important;
}

.navbar a {
    color: white;
}

.navbar-header a {
    color: white !important;
}

.navbar-header a:hover {
    color: #DDDDDD !important;
}

.navbar-nav li a {
    color: white !important;
}

.navbar-nav li a:hover {
    color: #DDDDDD !important;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    background-color: #383838 !important;
    color: #E4E4E4 !important;
}

.navbar-nav li.dropdown .dropdown-menu {
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav li.dropdown .dropdown-menu .dropdown-item {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}
