#title {
    padding-bottom: 10px;
}

.projects_left {
    background-color: green;
}

.projects_right {
    background-color: pink;
}

.projects_img_container {
    padding: 0px;
}

.projects_img {
    width: 100%;
}
