#title {
    padding-bottom: 10px;
}

.projects_row {
    height: auto;
}

.projects_img_container {
    padding: 0px;
    height: auto;
}

.projects_text {
    padding-left: 100px;
    padding-right: 100px;
}

.projects_img {
    width: 100%;
}
