#title {
    padding-bottom: 10px;
}

.project_img_container {
    padding: 0px;
    height: auto;
}

div.project_text {
    padding-left: 60px;
    padding-right: 60px;
}

.project_img {
    width: 100%;
}

.project_img.vertical_scale {
    height: 600px;
    width: auto;
}

.project_title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 48px;
}

.project_title.small_title {
    font-size: 32px;
}

p.project_text {
    font-size: 24px;
}

.project_link {
    margin: 15px;
    background-color: #4DFFB8;
    font-size: 24px;
}
