html {
    height: 100%;
}

body {
    background-color: #EFEFEF;
    color: black;
    font-family: Arial;
    font-size: 14px;
    height: 100%;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: #BDCEFF;
    text-decoration: none;
}

a:active {
    color: #BDCEFF;
    text-decoration: none;
}

.container-fluid {
    height: 100%;
}