html {
    height: 100%;
}

body {
    background-color: #EFEFEF;
    color: black;
    font-family: Arial;
    font-size: 14px;
    height: 100%;
}

hr.default {
    border-color: black;
}

hr.inverse {
    border-color: #EFEFEF;
}

.default {
    background-color: #EFEFEF;
    color: black;
    font-family: Arial;
    font-size: 14px;
    height: 100%;
}

.inverse {
    background-color: black;
    color: #EFEFEF;
    font-family: Arial;
    font-size: 14px;
    height: 100%;
}

a:link {
    color: #5B5B5B;
    text-decoration: none;
}

a:visited {
    color: #5B5B5B;
    text-decoration: none;
}

a:hover {
    color: #767676;
    text-decoration: none;
}

a:active {
    color: #767676;
    text-decoration: none;
}

.container-fluid {
    height: 100%;
}

li {
    font-size: 18px;
}
