html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 14px;
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.main {
    height: 100%;
}

#left {
    height: 100%;
}

#portrait {
    height: 80%;
    margin-top: 24px;
    float: right;
}

#right {
    height: 100%;
    padding: 0px 50px;
}

#title {
    margin: 24px;
}

#githubicon {
    padding-left: 10px;
}

#resumeicon {
    height: 34px;
    padding-left: 18px;
}

#instagramicon {
    height: 34px;
    padding-left: 19px;
}
