body {
    background-color: black;
    color: white;
    font-family: Arial;
}

.container-fluid {
    height: 100%;
}

.main {
    height: 100%;
}

#left {
    height: 100%;
}

#portrait {
    height: 50%;
    margin-top: 10%;
    float: right;
}
