html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 14px;
    height: 100%;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:18px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: black !important;
}

.navbar a {
    color: white;
}

.navbar-header a {
    color: white !important;
}

.navbar-header a:hover {
    color: #DDDDDD !important;
}

.navbar-nav li a {
    color: white !important;
}

.navbar-nav li a:hover {
    color: #DDDDDD !important;
}

.container-fluid {
    height: 100%;
}

.main {
    height: 100%;
}

#left {
    height: 100%;
}

#portrait {
    height: 80%;
    margin-top: 24px;
    float: right;
}

#right {
    height: 100%;
    padding: 0px 50px;
}

#title {
    margin: 24px;
}

#githubicon {
    padding-left: 10px;
}

#resumeicon {
    height: 34px;
    padding-left: 18px;
}

#instagramicon {
    height: 34px;
    padding-left: 19px;
}
